@import '../variables';

.app__fitness {
    height: 100vh;
    width: 100%;
    background-color: $complementary-color; 

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}
