@import '../variables';

.app__user {
    width: 100%;
    height: 100%;
    background-color: $complementary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__user-container {
    width: 95%;
    height: 90%;
    background-color: $white-color;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
}

.app__user-heading {
    font-family: $primary-font;
    font-size: 24px;
    margin-bottom: 35px;
}

.app__user-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__user-subheading {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 20px;
}

.app__user-measurements-container {
    width: 95%;
    display: flex;
    justify-content: space-around   ;
    align-items: center;

    .app__user-section {
        width: 400px;
        height: 330px;
    }
}

.app__user-section:first-child {
    width: 70%;
}

.app__user-results {
    width: 95%;
    height: 300px;
    
}

.app__user-measurements {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    width: 80%;
    
    .app__user-measurements_single {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 22px;
            font-family: $heading-font;
        }

        p {
            font-family: $primary-font;
            font-weight: 500;
        }
    }
}

.app__user-bmr_content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .app__user-bmr_result {
        font-size: 42px;
        font-family: $heading-font;
        color: #18A90B;
    }

    p {
        font-family: $primary-font;
        font-weight: 500;
    }
}

.app__user-bmr_heading {
    font-size: 22px;
    font-family: $heading-font;
}

.app__user-bmi_content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .app__user-bmi_result {
        font-size: 42px;
        font-family: $heading-font;
        color: #18A90B;
    }

    p {
        font-family: $primary-font;
        font-weight: 500;
    }
}

.app__user-bmi_heading {
    font-size: 22px;
    font-family: $heading-font;
}