@import '../variables';

.app__results {
    grid-area: 4 / 2 / 7 / 6;
    background-color: $white-color;
    border-radius: 10px;
    margin: 0 20px 20px 0;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;  
    position: relative;

    h2 {
        font-family: $primary-font;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
    }

    svg {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    img {
        width: 120px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.app__results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app__results-row_scroll-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
}

.app__results-table_headings {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;  
    border-radius: 5px 5px 0 0;
    font-family: $primary-font;
    background-color: $primary-color;
    color: $white-color;
}


.app__results-table_workout {
    flex-grow: 2;
    width: 100%;
    
}
.app__results-table_sets {
    flex-grow: 1;
    width: 100%;
}
.app__results-table_reps {
    flex-grow: 1;
    width: 100%;
}
.app__results-table_weight {
    flex-grow: 1;
    width: 100%;
}
.app__results-table_btn {
    flex-grow: 1;
    width: 60%;
}