@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


$heading-font: 'Bebas Neue', cursive;
$primary-font: 'Montserrat', sans-serif;

$primary-color: #000;
$secondary-color: #A0A2A9;
$white-color: #fff;
$complementary-color: #E0E2EB;
